@media (min-width: 770px){
  .logo{
    width: 30%;
  }
  .logo h1{
    margin-left: 50px;
    font-size: 3rem;
  }
  .menu{
    height: 60px;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
    transform: translateX(0);
  }
  .hamburguer{
    display: none;
  }
  .home{
    line-height: 70px;
    padding-left: 100px;
    padding-right: 200px;
  }
  .home p:nth-child(1){
    margin-top: -100px;
  }
  .home #name{
    font-size: 5rem;
  }
  .home #job{
    font-size: 3rem;
  }
  .home #description{
    font-size: 2.7rem;
  }

  .about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .profile{
    display: flex;
    flex-direction: column;
  }
  .profile span{
    font-size: 2.5rem;
    width: 800px;
  }
  .profile .border{
    width: 600px;
    margin-top: -15px;
  }
  .profile img{
    width: 300px;
    height: 300px;
    cursor: pointer;
    filter: sepia(80%);
    transition: 1s all ease-out;
  }
  .profile img:hover{
    filter: sepia(0%);
    box-shadow: 15px 15px var(--orange);
  }
  .profile p{
    width: 65%;
    margin-left: 50px;
  }
  .project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .project-title{
    display: flex;
    flex-direction: column;
    margin-top: 140px;
  }
  .project-title span{
    font-size: 2.5rem;
    width: 800px;
    margin-top: -100px;
    margin-left: 0px;
  }
  .project-title .border{
    width: 600px;
    margin-top: -15px;
    margin-left: 90px;
  }
  .project-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 70%;
    margin-bottom: 20px;
  }
  .project-section a img{
    align-items: flex-start;
    width: 100%;
    opacity: 0.2;
    transition: all 1s ease-in-out;
  }
  .project-section a img:hover{
    opacity: 1;
  }
  .project-area{
    margin-top: 0px;
    width: 100%;
  }
  .project-area .label{
    font-size: 2rem;
  }
  .project-area .title{
    font-size: 2.5rem;
  }
  .project-area .project-description{
    width: 120%;
    overflow: visible;
    font-size: 1.7rem;
    padding: 25px;
  }
  .project-area .project-tech{
    font-size: 1.5rem;
  }
  .project-area .links i{
    font-size: 2.7rem;
  }
  .project-area .links i:hover{
    font-size: 3rem;
    filter: drop-shadow(3px 3px 0px var(--lightest-navy));
  }
  .another-title{
    font-size: 3.5rem;
    margin: 40px 0px;
    transition: all 0.5s ease;
  }
  .another-title:hover{
    border-bottom: 2px solid var(--orange);
  }
  .another-project{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 80%;
  }
  .project-box{
    width: 22%;
    transition: all 0.8s ease;
  }
  .project-box:hover{
    box-shadow: 5px 5px var(--orange);
  }
  .project-box .project-header i{
    font-size: 2.7rem;
  }
  .project-box .project-header i:hover{
    font-size: 3rem;
    filter: drop-shadow(3px 3px 0px var(--lightest-navy));
  }
  .project-box .another-description{
    font-size: 1.8rem;
    transition: all 1s ease;
  }
  
  .project-box .another-techs{
    font-size: 1.2rem;
  }
  .contact .contact-section{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  .contact .contact-section span{
    font-size: 2.5rem;
    width: 800px;
  }
  .contact .contact-section .border{
    width: 600px;
    margin-top: -15px;
    margin-left: 120px;
  }
  .contact .icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 50px;
  }
  .contact .icons i{
    font-size: 60px;
    transition: all 0.5s;
  }
  .contact .icons i:hover{
    font-size: 72px;
    filter: drop-shadow(10px 10px 0px var(--lightest-navy));
  }
}